@page
@model InspiraLibertad.Pages.atPersonalizadaModel
@{
    ViewData["Title"] = "Atención Personalizada";
}

<div class="row">
    <div class="col-8">
        <h3 class="text-success">Atención Personalizada</h3>
    </div>
</div>

<div class="clearfix mt-5 p-4">
    <p>En <b>Inspira Libertad</b> entendemos que trabajar en uno/a mismo/a es un proceso, y no tiene sentido ofrecerte sesiones sueltas. Por ese motivo te ofrecemos varios descuentos en las sesiones, siendo el valor de cada sesión de 70 euros por una hora de atención. Las sesiones se realizarán de forma presencial u online, según tu ubicación.</p>
    <img class="col-5 float-right" src="./img/atPers1.jpg" alt="Mujer de hoy, dinámica, trabajando con su portátil" />
    <p align=left><b>Valora tu libertad</b>. Evaluación (2 sesiones) 110€</p>
    <p>En estas dos sesiones tendrás el espacio de confianza necesario para expresar qué te está ocurriendo en tu vida que ha generado que hayas incrementado el consumo quizás hasta un punto problemático, y poder tener la valoración y el análisis de un especialista que pueda guiarte hasta la salida.</p>
    <p align=left><b>Sumérgete en ti</b>. Pack 10 sesiones 495€ (valor 700€)</p>
    <p>En estas 10 sesiones podremos trabajar sobre los aspectos que están influyendo en tu vida que te han llevado al consumo. De forma completamente personalizada, sin paquetes de tratamiento estandarizados, sino un plan de trabajo hecho exclusivamente para ti a manos de un profesional especializado en Adicciones.</p>
    <img class="col-5 float-right" src="./img/atPers2.jpg" alt="Manos juntas, todos a una" />
    <p align=left><b>Inspira Libertad</b>. Pack 25 sesiones 1.195€ (valor 1750€)</p>
    <p>Este pack incluye la misma Atención Personalizada ofrecida en el pack Sumérgete en ti, añadiendo una atención más exhaustiva y extendida en el tiempo, para acompañarte hasta encontrar la salida.</p>
    <p align=left><b>Libertad en grupo</b>. SERVICIO EXTRA. Sesiones grupales (gratuito y acceso selectivo)</p>
    <p align=left>Encuentro grupales para expresarse en libertad.</p>
    <p>Estos encuentros son par encontrarse con personas que, como tú, han estado en una situación complicada de consumo y que están encontrando la salida dentro de ellos/as mismos/as. El acceso es selectivo porque accederán las personas que ya esten trabajando en su proceso y se encuentren en un punto estable.</p>
</div>
