@page
@model InspiraLibertad.Pages.ContactoModel

@{
    ViewData["Title"] = "Contacto";
}

<style>
    body {
        background: url("../img/fondo.png") no-repeat;
        background-size: 120vw;
        background-position: bottom right;
    }
</style>

<div class="row pl-5 pt-3">
    <div class="col-10 col-md-5">
        <h4 class="text-success">Contacto</h4>
        <hr />
        @if (Model.res == 0)
        {
            <div class="row">
                <div class="alert alert-danger alert-dismissible fade show col-auto" role="alert">
                    <strong>Ha habido algún problema, el mensaje no ha sido enviado..</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }
        else if (Model.res == 1)
        {
            <div class="row">
                <div class="alert alert-info alert-dismissible fade show col-auto" role="alert">
                    <strong>Mensaje enviado correctamente..</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mensajes.Nombre" class="control-label"></label>
                <input asp-for="Mensajes.Nombre" class="form-control" />
                <span asp-validation-for="Mensajes.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensajes.Email" class="control-label"></label>
                <input asp-for="Mensajes.Email" class="form-control" />
                <span asp-validation-for="Mensajes.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensajes.Mensaje" class="control-label"></label>
                <textarea asp-for="Mensajes.Mensaje" class="form-control"></textarea>
                <span asp-validation-for="Mensajes.Mensaje" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-end">
                <input type="submit" value="Enviar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
