@page
@model InspiraLibertad.Pages.depAdiccModel
@{
    ViewData["Title"] = "Dependencias y Adicciones";
}


<div class="row">
    <div class="col-8">
        <h3 class="text-success">Dependencias y adicciones</h3>
    </div>
</div>

<div class="clearfix mt-5 p-4">
    <p>El tema de las adicciones es un tema controvertido, debido probablemente a multicausalidad de su origen, en el que se debate y se revisa de forma constante su definición y abordaje, según avanzan las investigaciones al respecto.</p>
    <p>La Organización Mundial de la Salud define Adicción (a drogas y alcohol) como Consumo repetido de una o varias sustancias psicoactivas, hasta el punto de que el consumidor (denominado adicto) se intoxica periódicamente o de forma continua, muestra un deseo compulsivo de consumir la sustancia (o las sustancias) preferida, tiene una enorme dificultad para interrumpir voluntariamente o modificar el consumo de la sustancia y se muestra decidido a obtener sustancias psicoactivas por cualquier medio.</p>
    <img class="col-6 float-right" src="./img/depAdicc.jpg" alt="Hombre cabizbajo desesperado" />
    <p> Por lo general, hay una tolerancia acusada y un síndrome de abstinencia que ocurre frecuentemente cuando se interrumpe el consumo. La vida del adicto está dominada por el consumo de la sustancia hasta llegar a excluir practicamente todas las demás actividades y responsabilidades. El término adicción conlleva también el sentido de que el consumo de la sustancia tiene un efecto perjudicial para la sociedad y para la persona; referente al consumo del alcohol es el alcoholismo.</p>
    <p>Por otro lado la RAE define Adicción como dependencia de sustancias o actividades nocivas para la salud o el equilibrio psiquico.</p>
    <p>Por aunar y simplificar las diferentes definiciones que podemos encontrar, hablamos de una necesidad interna de la persona que le lleva a realizar un patrón repetitivo, bien sea de consumo de sustancias, comportamental o de relación. Según esto agrupamos las adicciones en:</p>
    <p><b>Adicciones a sustancias</b>, son las comunmente conocidas como Drogas (cocaina, heroina, marihuana, LSD, etc) u otras más aceptadas como el alcohol, tabaco, medicamentos o café.</p>
    <p><b>Adicciones comportamentales</b>, en las que podríamos incluir el juego patológico, internet, a la comida, uso del teléfono móvil, al sexo, adicción a las compras, deporte, etc.</p>
    <p><b>Dependencias emocionales</b>, que se refieren a las relaciones dependientes, que en el fondo, responden al mismo patrón adictivo.</p>
</div>

