@page
@model InspiraLibertad.Pages.queEsModel
@{
    ViewData["Title"] = "Qué es Inspira Libertad?";
}


<div class="clearfix p-4">
    <h4 class="text-success mt-2">Qué es Inspira Libertad</h4>
    <hr />
    <p><b>Inspira Libertad</b> es un proyecto que nace tras 20 años de experiencia en el tratamiento de los Trastornos Adictivos y relacionados con Sustancias, más popularmente conocidos como Adicciones, por la necesidad de abordar esta problemática con una mirada diferente. </p><br />
    <img class="col col-lg-4 float-right rounded" src="./img/queEs.jpg" alt="Manos pintadas con un corazón" />
    <p>Hoy en día la concepción de adicción se debate entre trastorno o enfermedad, siendo algo que "curar" o al menos tratar, como una dolencia crónica que, generalmente es abordada principalmente desde la contención de la necesidad de consumo y la presión sobre la persona para que mantenga su abstinencia, y que desgraciadamente en muchos casos acaba en recaidas y desesperación de la persona y sus seres queridos.</p><br />
    <p>En Inspira Libertad entendemos que un Trastorno Adictivo aparece como un síntoma de un malestar más profundo o reflejo de algo latente sin resolver, que debemos tratar para que la persona comprenda su propio proceso y sea conductor de su propia recuperación.</p><br />
    <p>Por eso creamos una serie de Cursos y Talleres con información y herramientas para que puedas manejar aspectos relacionados con tu Dependencia y también el Acompañamiento Terapéutico Individualizado en formato de sesiones y/o Retiros para profundizar en tu problemática y hallar en equipo la solución que te lleve a tu Libertad Personal.</p>
</div>

