@page
@model InspiraLibertad.Pages.retirosModel
@{
    ViewData["Title"] = "Retiros";
}

<div class="row p-4">
    <div class="col-12 col-lg-8">
        <h4 class="text-success">Retiros</h4>
        <hr />
    </div>
</div>
<div class="row px-4">
    <div class="col-12 col-lg-8">
        <p>Los Retiros son propuestas de trabajo intensivo, en contacto con la naturaleza, para realizar de forma individualizada o en grupo. La duración será variable, pudiendo ser de un fin de semana, para trabajos más específicos, así como de una semana, o de mayor duración, para una mayor profundización.</p><br>
        <p>Cada propuesta será publicada en esta sección, o de forma interna para las personas que estén realizando un proceso y se encuentren en el momento idóneo para realizar dicho trabajo.</p><br>
        <p>Si tienes una petición o interés específico, puedes ponerte en contacto con nosotros en la sección de Contacto y te informaremos.</p><br><br><br>
    </div>
    <div class="col col-lg-4 mt-2">
        <img src="./img/retiros.jpg" alt="Niña en el campo, puesta de sol" />
    </div>
</div>
