@page
@model InspiraLibertad.Pages.sobreMiModel
@{
    ViewData["Title"] = "Sobre Mí";
}


<div class="row p-4">
    <div class="col-12 col-lg-8">
        <h4 class="text-success">Sobre Mí</h4>
        <hr />
    </div>
</div>
<div class="row px-4">
    <div class="col-12 col-lg-8">
        <p><b>María Gómez Sousa</b></p>
        <p>Psicóloga Sanitaria. Num Col: M-18.876</p>
        <p>Licenciada en Psicología</p>
        <p>Master en Ansiedad y Estrés</p>
        <p>Master en Inteligencia Emocional</p>
        <p>Master en Dirección y Gestión de Servicios Sociales</p>
        <p>Experta en Coaching Personal y Organizacional</p>
        <p>Llevé a cabo mis prácticas de Licenciatura en Psicología en un Centro de Día de personas con Adicciones, comenzando así un extenso recorrido trabajando como Psicóloga en Centros de Atención al Drogodependiente del Ayuntamiento de Madrid, Comunidad Terapéutica, Pisos de Apoyo al Tratamiento, Programa de Atención al Drogodependiente en prisión, Atención Psicosocial y Reducción del Daño en la Cañada Real, en varios Centros de Reinserción y Reeducación de menores con medidas judiciales, y también con niños y adolescentes de la calle en algún país de Sudamérica.</p>
        <p>Todo este recorrido a la par de mi atención en consulta privada, en muchos casos, por temas adictivos o relacionados con ellos.</p>
    </div>
    <div class="col col-lg-4 mt-2">
        <img src="./img/sobreMi.jpg" alt="Manos pintadas con un corazón" />
    </div>
</div>

